<include file="Public:contentHeader" />
<div class="first_tanchu">
    <div class="tanchu_title">确认信息</div>
    <form action="{:U('Index/doModify')}" method="post" id="form">
        <label>身份证号：</label>
        <input type="text" name="sfzh" class="sfzh" placeholder="请输入" autocomplete="off" value="{$sfzh}">
        <label>所属部门：</label>
        <select name="college" id="college">
            <option value="">请选择</option>
            <volist name="collegeList" id="cl">
                <option value="{$cl.cid}" {$cl.cid|selected="$college"}>{$cl.name}</option>
            </volist>
        </select>
        <div class="tips">请核对所属部门是否正确，如若有误请重新选择确认，<br>确认后不可再次修改。</div>
        <input type="submit" value="确认" class="submit">
    </form>
</div>
<div class="body grey">
    <div class="register pad fff bottom" style="min-height:600px;">
        <div class="stitle">
            <span class="top-line"></span>
            <img src="__PUBLIC__/Images/promotion/title_bg.png" alt="" id="title_index_bg"><span class="top-title"> &nbsp;&nbsp;首&nbsp;&nbsp;页</span>
        </div>

        <div class="operateBox">
            <div class="index-title">个人资料</div>
            <ul class="index-ul">
                <li>姓名：{$vo.realname}</li>
                <li>籍贯：{$vo.native_place}</li>
                <li>毕业院校：{$vo.graduate}</li>

                <li>性别：{$vo.sex}</li>
                <li>校龄：{$vo.school_age}</li>
                <li>所属部门：{$vo.collegeName}</li>

                <li>身份证号：{$vo.sfzh}</li>
            </ul>
            <div class="index-title" style="margin-top:60px;">当前行程</div>
            <ul class="index-ul">
                <present name="xcdetail">
                    <li>行程：{$xcdetail.zxmc}</li>
                    <li>省份：{$xcdetail.pname}</li>
                    <li>地点：{$xcdetail.zxlb}</li>

                    <li style="width:100%;">时间：{$xcdetail.xc}</li>
                    <li style="width:90%;height:100%;">备注：{$xcdetail.remark}</li>
                    <else/>
                        <li style="list-style-image: none;margin-left:43px;">暂无行程</li>
                </present>
            </ul>
        </div>
    </div>
</div>
</div>
<include file="Public:footer" />
<script type="text/javascript">
    var isshow = "{$first_login}";
    if(isshow == 1){
        $('#title_index_bg').attr('src','__PUBLIC__/Images/promotion/title_bg1.png');
        $('.top-title').css('color','#bcbbb8');
        $('.first_tanchu').show();
        $('.body').css('background-color','#b7b7b4');
        $('.register').css('background-color','#bcbbb8');
    }
</script>